.mail__list {
    list-style: none;
    margin: 0;
    padding: 16px 4px;
}

.mail__list fieldset {
    border: 0;
    padding: 0;
    margin: 0 4px;
}

.mail__list fieldset legend {
    margin: 0 0 8px;
    border: 0;
    padding: 0;
    width: 100%;
}

.mail__list fieldset legend input {
    margin: 0 4px 0 0;
    vertical-align: -2px;
}

.mail__fieldlist {
    margin: 0;
}

.mail__fieldlist dt,
.mail__fieldlist dd {
    margin: 0 0 8px;
    display: inline-block;
    vertical-align: top;
}

.mail__fieldlist dt {
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
}

.mail__fieldlist dd {
    width: 60%;
}

.mail__fieldlist input {
    width: 100%;
}

.mail__fieldlist label {
    margin-right: 8px;
}

.mail__fieldlist label,
.mail__list legend label {
    display: block;
    background-color: white;
    padding: 8px;
    border-radius: 2px;
    font-size: 0.8em;
    cursor: pointer;
    line-height: 1.25;
    border: 1px solid lightgray;
}

.mail__list li.mail__controls {
        padding: 0 4px;
}

@media (min-width: 480px) {   
    .mail__list li {
        display: inline-block;
        vertical-align: top;
        width: 50%;
    }
       
    .mail__list li.mail__controls {
        display: block;
        width: auto;
    }    
}


.mail__controls input[type=submit] {
    width: 120px;    
}

.mail__controls input[type=reset] {
    float: right;
    width: 100px;
}