.service__wrapper {
    background-color: white;
    border-radius: 2px;
    margin-top: 8px;
    padding: 16px;
}

.service__title {
    margin: 0 0 8px;
    padding: 0 0 8px;
    border-bottom: 1px solid lightgrey;
}

.software__version {
    padding: 8px 0 16px;
}

.software__form {
    border-top: 1px solid lightgrey;
    margin: 0;
    padding-top: 16px;
}

.properties__form {
    margin-top: 16px;
}

.download__list {
    list-style: none;
    padding: 0;
    margin: 0;
}