%navigation-pos {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 100%;
}

%layout-max {
    max-width: 800px;
    margin: 0 auto;
}


html, body {
    height: 100%;
}

body {
    background-color: #eeeeee;
    font-size: 120%;
    line-height: 1.5em;
    margin: 0;
    min-width: 320px;
    font-family: sans-serif, Arial, Helvetica;
}

input, select, textarea, button {
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    font-size: 0.8em;
    padding: 8px;
    border-radius: 2px;
    border: 1px solid lightgray;
}

input[type=file] {
    padding: 4px;
}

canvas {
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
}

input[type=submit] {
    background-color: #c40452;
    border-radius: 2px;
    border: 1px solid #c40452;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
}

input[type=reset], button {
    background-color: lightgray;
    border-radius: 2px;
    border: 1px solid lightgray;
    overflow: hidden;
    text-overflow: ellipsis;
}

input[disabled], select[disabled], textarea[disabled] {
    background-color: whitesmoke;
    color: lightgray;
}


@media (max-width: 1280px) {
    body {
        font-size:115%;
    }
}

@media (max-width: 1024px) {
    body {
        font-size:110%;
    }
}

@media (max-width: 800px) {
    body {
        font-size:105%;
    }
}

@media (max-width: 600px) {
    body {
        font-size:100%;
    }
}

.layout {
    &__wrapper {
        min-width: 320px;
    }
    
    &__container {
        list-style: none;
        margin: 16px 0 0;
        padding: 0;
    }
    
    @media (min-width: 480px) {
        &__item {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            
            &.full {
                display: block;
                width: auto;
            }
        }
    }
}

header {
    background-color: #c40452;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 
                0 2px 5px 0 rgba(0, 0, 0, 0.26);
    color: white;
    
    h1 {
        @extend %layout-max;
        font-size: 1em;
        padding: 8px;
        line-height: 32px;
    }
}

.main-navigation {
    @extend %navigation-pos;
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 
                0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: 70%;
    z-index: 20;
    transition: right 300ms ease-out;
    
    &__shadow {
        @extend %navigation-pos;
        background-color: rgba(0, 0, 0, .7);
        opacity: 0;
        width: 100%;
        z-index: 19;
        transition: opacity 300ms ease-out;
    }
    
    &__toggle {
        float: left;
        margin-right: 8px;
        width: 32px;
    }
    
    &.active {
        right: 30%;
        transition-timing-function: ease-in;
        
        &~.main-navigation__shadow {
            opacity: 1;
            right: 0%;
        }
    }
    
    ul {
        @extend %layout-max;
        list-style: none;
        padding: 0;
    }
   
    li {
        display:block;
        
        a {
            border-bottom: 1px solid lightgray;
            display: block;
            padding: 16px;
            color: #c40452;
            text-decoration: none;
        }
        
        &.active a {
            background-color: #c40452;
            color: white;
        }
    }
}

@media (min-width: 480px) {        
    .main-navigation {
        position: static;
        width: auto;
        
        &__toggle {
            display: none;
        }
        
        li {
            display: inline-block;
            
            a {
                border: 0;
                padding: 8px;       
            }
        }
        
        &__shadow {
            display: none;
        }
    }
}


main {
    @extend %layout-max;
    margin-bottom: 64px;
}

.spinner {
    z-index: 10;
    position: absolute;
    background-color: rgba(255, 255, 255, .75);
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -16px 0 0 -16px;
        width: 32px;
        height: 32px;
        max-width: 100%;
        max-height: 100%;
    }
}

.toast {
    &__toaster {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 11;
    }
    
    &__container {
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 
                    0 2px 5px 0 rgba(0, 0, 0, 0.26);
        background-color: white;
        padding: 16px;
        
        &--error {
            background-color: darkred;
            color: white;
        }
        
        &--success {
            background-color: green;
            color: white;
        }
        
        &--warning {
            background-color: darkkhaki;
            color: white;
        }
        
        a {
            color: white;
        }
    }
    
    @media (min-width: 480px) {    
        &__toaster {
            padding: 0 16px;
        }

        &__container {
            border-radius: 2px;
            max-width: 768px;
            margin: 0 auto 16px;
        }
    }
}

.form {
    &__wrapper {
        margin: 0;
    }
    
    &__label, 
    &__field {
        margin-bottom: 8px;
    }
    
    &__label {
        clear: left;
        float: left;
        width: 120px;
        line-height: 1.4;
        
        label {
            display: block;
            font-size: 0.8em;
            overflow: hidden;
            padding: 8px 0;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    
    &__field {
        margin-left: 128px;
        &.direct {
            position: relative;
            > input,
            > select {
                margin-right: 80px;
            }
            
            .form__input {
                margin-right: 128px;
            }
            
            .form__submit {
                position: absolute;
                right: 0;
                top: 0;
                width: 120px;

                input, button {
                    width: 100%;
                }
            }
        }
    }
    
    &__field, 
    &__input {
        > input, 
        > select {
            width: 100%;
        }
    }
    
    &__hint {
        font-size: 0.6em;
        color: grey;
    }
}

.dialog {
    &__wrapper {
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        text-align: center;
        top: 0;
        z-index: 10;
        
        &::after {
            content: " ";
            display: inline-block;
            height: 100%;
            overflow: hidden;
            vertical-align: middle;
            width: 0;
        }
    }
    
    &__back {
        background-color: black;
        bottom: 0;
        left: 0;
        opacity: .75;
        position: absolute;
        right: 0;
        top: 0;        
    }
    
    &__window {
        background-color: white;
        border-radius: 3px;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 
            0 2px 5px 0 rgba(0, 0, 0, 0.26);
        display: inline-block;
        max-width: 90vw;
        position: relative;
        text-align: left;
        vertical-align: middle;
    }
    
    &__title {
        padding: 16px;
        margin: 0;
    }
    
    &__content {
        max-height: 60vh;
        overflow: auto;
        padding: 0 16px;
    }
    
    &-action {
        &__container {
            list-style: none;
            padding: 0;
            margin: 8px 0;
            text-align: right;
        }
        
        &__item {
            display: inline-block;
            text-align: center;
            
            &--default .dialog-action__target {
                font-weight: bold;
                color: #c40452;
            }
            
            &--additional {
                float: left;
            }
        }
        
        &__target {
            background: transparent;
            border: 0;
            display: block;
            font-size: 1em;
            padding: 8px 16px;
        }
    }
}

.toolbar {
    background-color: #FFF;
    
    &__group {
        display: inline-block;
        margin: 0;
        padding: 8px;
        list-style: none;
        
        > li {
            display: inline-block;
        }
    }
    
    &__item {
        cursor: pointer;
        margin: 0;
        
        > svg {
            display: inline-block;
            vertical-align: middle;
            width: 48px;
            height: 48px;
        }
        
        &--disabled {
            opacity: 50%;
        }
        
        &--active {
            position: relative;
            
            &::after {
                background-color: rgba(40, 200, 40, 0.8);
                bottom: -8px;
                content: "";
                height: 4px;
                left: 0;               
                position: absolute;
                right: 0;
            }
        }
    }
    
    
}

/* OOCSS */
.is-hidden {
    display: none !important;
}