html, body {
    height: 100%;
}

body {
    background-color: #eeeeee;
    font-size: 120%;
    line-height: 1.5em;
    margin: 0;
    min-width: 320px;
    font-family: sans-serif, Arial, Helvetica;
}

input, select, textarea {
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    font-size: 0.8em;
    padding: 8px;
    border-radius: 2px;
    border: 1px solid lightgray;
}

canvas {
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
}

input[type=submit] {
    background-color: #c40452;
    border-radius: 2px;
    border: 0;
    color: white;
}

input[type=reset] {
    background-color: lightgray;
    border-radius: 2px;
    border: 0;
}

input[disabled], select[disabled], textarea[disabled] {
    background-color: whitesmoke;
    color: lightgray;
}


@media (max-width: 1280px) {
    body {
        font-size:115%;
    }
}

@media (max-width: 1024px) {
    body {
        font-size:110%;
    }
}

@media (max-width: 800px) {
    body {
        font-size:105%;
    }
}

@media (max-width: 600px) {
    body {
        font-size:100%;
    }
}

.layout__wrapper {
    min-width: 320px;
}

.layout__container {
    list-style: none;
    margin: 16px 0 0;
    padding: 0;
}

@media (min-width: 480px) {
    .layout__item {
        display: inline-block;
        vertical-align: top;
        width: 50%;
    }
    
    .layout__item.full {
        display: block;
        width: auto;
    }
}

header {
    background-color: #c40452;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 
                0 2px 5px 0 rgba(0, 0, 0, 0.26);
    color: white;
}

h1 {
    font-size: 1em;
    margin: 0;
    padding: 8px;
    line-height: 32px;
}

.main-navigation__toggle {
    float: left;
    margin-right: 8px;
    width: 32px;
}

.main-navigation, 
.main-navigation__shadow {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 100%;
}

.main-navigation {
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 
                0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: 70%;
    z-index: 20;
    transition: right 300ms ease-out;
}

.main-navigation__shadow {
    background-color: rgba(0, 0, 0, .7);
    opacity: 0;
    width: 100%;
    z-index: 19;
    transition: opacity 300ms ease-out;
}

.main-navigation.active~.main-navigation__shadow {
    opacity: 1;
    right: 0%;
}

.main-navigation.active {
    right: 30%;
    transition-timing-function: ease-in;
}

.main-navigation ul {
    list-style: none;
    padding: 0;
}

.main-navigation li {
    display:block;
}

.main-navigation li a {
    border-bottom: 1px solid lightgray;
    display: block;
    padding: 16px;
    color: #c40452;
    text-decoration: none;
}

.main-navigation li.active a {
    background-color: #c40452;
    color: white;
}

@media (min-width: 480px) {    
    .main-navigation__toggle {
        display: none;
    }
    
    .main-navigation {
        position: static;
        width: auto;
    }
    
    .main-navigation ul {
        margin: 0;
    }
    
    .main-navigation li {
        display: inline-block;
    }
    
    .main-navigation li a {
        border: 0;
        padding: 8px;       
    }
}


main {
    margin-bottom: 64px;
}

header h1,
.main-navigation ul,
main {
    max-width: 800px;
    margin: 0 auto;
}


.spinner {
    z-index: 10;
    position: absolute;
    background-color: rgba(255, 255, 255, .75);
}

.spinner svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
    width: 32px;
    height: 32px;
    max-width: 100%;
    max-height: 100%;
}

.toast__toaster {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.toast__container {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 
                0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: white;
    padding: 16px;
}

@media (min-width: 480px) {    
    .toast__toaster {
        padding: 0 16px;
    }
    
    .toast__container {
        border-radius: 2px;
        max-width: 768px;
        margin: 0 auto 16px;
    }
}

.toast__container--error {
    background-color: darkred;
    color: white;
}

.toast__container--success {
    background-color: green;
    color: white;
}

.toast__container--error a,
.toast__container--success a {
    color: white;
}

.form__wrapper {
    margin: 0;
}

.form__label, 
.form__field {
    margin-bottom: 8px;
}

.form__label {
    float: left;
    width: 120px;
}

.form__label label {
    font-size: 0.8em;
    overflow: hidden;
    padding: 8px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.form__field {
    margin-left: 128px;
}

.form__field > input, 
.form__field > select,
.form__input > input, 
.form__input > select {
    width: 100%;
}

.form__field.direct {
    position: relative;
}

.form__field.direct > input, 
.form__field.direct > select {
    margin-right: 80px;
}

.form__field.direct .form__input {
    margin-right: 128px;
}

.form__field.direct .form__submit {
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
}

.form__field.direct .form__submit input {
    width: 100%;
}