.map__wrapper {

}

.map__select {
    padding: 16px 8px;
}

.map__display {
    padding: 0 8px;
}

.map__select select {
    width: 100%;
}

.map__display canvas {
    background-color: gray;
    border: 1px solid lightgray;
    border-radius: 2px;
    width: 100%;
}