.map {
    &__select {
        padding: 16px 8px;
        
        select {
            width: 100%;
        }
    }
    
    &__display {
        padding: 0 8px;
        
        canvas {
            background-color: gray;
            border: 1px solid lightgray;
            border-radius: 2px;
            width: 100%;
        }
    }
}
