.stats-category__list {
    list-style:none;
    padding: 0;
    margin: 16px 0;
}

.stats-category__item {
    margin-bottom: 16px;
}

@media (min-width: 480px) {
    .stats-category__item {
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }
}

.stats-category__wrapper {
    background-color: white;
    border-radius: 2px;
    margin: 0 8px;
    padding: 16px;
}

.stats-category__title {
    margin: 0 0 8px;
    padding: 0 0 8px;
    border-bottom: 1px solid lightgrey;
}

.stats-rows__list {
    margin: 0;
}

.stats-rows__key,
.stats-rows__value {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin: 0;
}

.stats-rows__key:nth-child(4n-1),
.stats-rows__value:nth-child(4n) {
    background-color: whitesmoke;
}

.stats-rows__value--int {
    text-align: right;
}

.stats-rows__text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 4px;
}

.stats-rows__key .stats-rows__text::after {
    content: ":";
}